.insert-form {
    display: flex;
    justify-content: center;
}

.TodoInsert {
    width: 60%;
    margin-top: 30px;
    display: flex;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

input {
    background: none;
    outline: none;
    border: none;
    font-size: 1.125rem;
    line-height: 2;
    color: black;
    padding: 5px;
    &::placeholder{
        color: #333;
    }
    flex: 1; // 버튼 빼고 모든 영역 차지 
}

button{
    background: #868e96;
    outline: none;
    border: none;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s background ease-in;
    &:hover{
        background: #adb5bd;
    }
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
    .TodoInsert{
        width: 80%;
    }
}