.container {
    margin: 0 auto;
    background: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul,
li {
    list-style: none;
}
.menu {
    display: flex;
    li{
        padding: 20px 10px;
    }
}

header{
    width: 100%;
    background: skyblue;
    padding: 30px 50px;
}
.app-date{
    font-size: 2rem;
    height: 7rem;
}
